* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 0.3fr 3.1fr 0.3fr;
  gap: 20px 20px;
  grid-template-areas:
    "buttons buttons"
    "header header"
    "content picture"
    "footer footer";
  position: relative;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-image: linear-gradient(
      to right,
      rgba(105, 105, 83, 0.761),
      rgba(72, 81, 162, 0.799)
    ),
    url(assets/backgroud/amazon.jpeg);
  padding: 20px 8%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  grid-area: header;
}
.buttons {
  grid-area: buttons;
  text-align: center;
}
.content {
  grid-area: content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  font-display: bold;
  padding: 30px;
}
.picture {
  grid-area: picture;
  padding: 60px;
}
.footer {
  grid-area: footer;
}

/* ====================social media logo=================== */
nav {
  display: flex;
  justify-content: center;
  margin: auto;
}

nav ul li {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  padding: 10px 20px;
}

.facebook {
  width: 30px;
}

.instagram {
  width: 30px;
}
.tiktok {
  width: 30px;
}
.github {
  width: 30px;
}
.linkedin {
  width: 30px;
}

/*=================About Me Section============*/

.head1 h1 {
  font-size: 40px;
  background: -webkit-linear-gradient(
    rgba(250, 248, 250, 0.976),
    rgba(133, 115, 122, 0.921)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.maui {
  width: 130%;
  max-width: 500px;
  min-width: 250px;
  position: relative;
  border-radius: 200px;
}

.head1 span {
  color: hsl(101, 96%, 50%);
}

.fsa {
  color: rgb(246, 168, 0);
}

p {
  color: rgb(230, 240, 223);
  font-size: 25px;
  font-style: italic;
}

a {
  text-decoration: none;
}
.head2 {
  text-align: left;
  position: relative;
  color: rgb(240, 15, 15);
  text-transform: uppercase;
  /* margin-bottom: 50px; */
}

/*================Buttons================*/

.btn {
  margin-top: 15px;
  font-size: 14px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 400;
  color: rgb(251, 6, 6);
  border-radius: 30px;
  transition: all 0.2s linear;
  -webkit-transition: all o.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  display: inline-block;
  z-index: 1;
}

.btn-about {
  background-color: rgb(230, 213, 213);
  position: relative;
  z-index: 1;
  font-size: 17px;
  text-transform: uppercase;
  margin-left: 20px;
}

.btn-resume {
  color: rgb(251, 6, 6);
  position: relative;
  font-size: 17px;
  border-radius: 30px;
  background-color: rgb(230, 213, 213);
  text-transform: uppercase;
  margin-left: 20px;
}

.btn-resume:hover {
  color: #f6eeef;
  background: red;
  border: 1px dotted #f63854;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

.btn-about:hover {
  color: #f6eeef;
  background: red;
  border: 1px dotted #f63854;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}

.btn-4polio {
  background-color: rgb(230, 213, 213);
  position: relative;
  z-index: 1;
  font-size: 17px;
  text-transform: uppercase;
  margin-left: 20px;
}

.btn-4polio:hover {
  color: #f6eeef;
  background: red;
  border: 1px dotted #f63854;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}
.btn-contact {
  background-color: rgb(230, 213, 213);
  position: relative;
  z-index: 1;
  font-size: 17px;
  text-transform: uppercase;
  margin-left: 20px;
}

.btn-contact:hover {
  color: #f6eeef;
  background: red;
  border: 1px dotted #f63854;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}

/*=========responsive===========  */
