* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ==================grid============================== */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 0.3fr 0.2fr 2.5fr 2.5fr 0.2fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header"
    "Smedia Smedia"
    "buttons buttons"
    "pic1 pic2"
    "pic3 pic4"
    "footer footer";

  position: relative;
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-image: linear-gradient(
      to right,
      rgba(105, 105, 83, 0.761),
      rgba(72, 81, 162, 0.799)
    ),
    url(../assets/backgroud/amazon.jpeg);
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.Header {
  grid-area: Header;
  text-align: center;
}

.Smedia {
  grid-area: Smedia;
}

.buttons {
  grid-area: buttons;
}

.pic1 {
  grid-area: pic1;
}

.pic2 {
  grid-area: pic2;
}

.pic3 {
  grid-area: pic3;
}

.pic4 {
  grid-area: pic4;
}

.footer {
  grid-area: footer;
  text-align: center;
}
.pic1,
.pic2,
.pic3,
.pic4 {
  justify-self: center;
}

/*===================== header====================== */
.Header h1 {
  justify-content: center;
  display: flex;
  background-color: #740f0f;
  font-size: 45px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ===================logo============== */

nav {
  display: flex;
  justify-content: center;
  margin: auto;
}
nav ul li {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  padding: 10px 20px;
}

.facebook,
.instagram,
.tiktok,
.github,
.linkedin {
  width: 30px;
}

.icon {
  max-width: 100%;
  min-width: 75%;
}

a {
  text-decoration: none;
}

.footer p {
  color: rgb(230, 240, 223);
  font-size: 10px;
  font-style: italic;
}

/* ====================pictures===================== */

.card {
  margin: 20px 10px;
  width: 280px;
  height: 360px;
  padding: 2rem 1rem;
  background: transparent;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.5s ease-in-out;
  border-radius: 20%;
}

.card:hover {
  transform: translateY(20px);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(113, 124, 110, 0.224),
    rgb(24, 25, 24)
  );
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.card:hover:before {
  opacity: 1;
}

.card img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card .info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: relativeY(30px);
  transition: 0.5s all;
}
.card:hover .info {
  opacity: 1;
  transform: relativeY(0px);
}

.card .info h1 {
  margin: 0%;
}

.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.card .info .btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #f50404db;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.card .info .btn:hover {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

/* /* ====================Buttons========================= */

.bton {
  margin-top: 15px;
  font-size: 14px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 400;
  color: rgb(251, 6, 6);
  border-radius: 30px;
  transition: all 0.2s linear;
  -webkit-transition: all o.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  display: inline-block;
  margin-bottom: 30px;
}

.btn-4polio,
.btn-b2mp,
.btn-about,
.btn-contact {
  background-color: rgb(230, 213, 213);
  position: relative;
  z-index: 1;
  font-size: 17px;
  text-transform: uppercase;
  margin-left: 20px;
}

.btn-4polio:hover,
.btn-b2mp:hover,
.btn-about:hover,
.btn-contact:hover {
  color: #f6eeef;
  background: red;
  border: 1px dotted #f63854;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}

.button {
  display: flex;
  width: 70%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* =================contact============= */
/* .container {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  grid-template-rows: 0.6fr 1.9fr 0.5fr;
  gap: 16px 16px;
  grid-auto-flow: row;
  grid-template-areas:
    "name email"
    "message-field message-field"
    "buttons buttons";
  width: 500px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(175, 168, 168);
  border: solid;
  padding: 10px;
}

.name {
  grid-area: name;
  font-size: 15px;
}

.email {
  font-size: 15px;
  grid-area: email;
}

.message-field {
  font-size: 15px;

  grid-area: message-field;
}

.buttons {
  font-size: 20px;

  grid-area: button;
}
.submit {
  text-align: center;
} */
